In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:\Projects\PycharmProjects\Jobify\data\cleaned.csv")

<>:1: SyntaxWarning: invalid escape sequence '\P'
<>:1: SyntaxWarning: invalid escape sequence '\P'
C:\Users\Asus\AppData\Local\Temp\ipykernel_14492\1150368978.py:1: SyntaxWarning: invalid escape sequence '\P'
  df = pd.read_csv("D:\Projects\PycharmProjects\Jobify\data\cleaned.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21626 entries, 0 to 21625
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   search_query           21626 non-null  object
 1   job_title              21626 non-null  object
 2   company                21626 non-null  object
 3   loc                    21626 non-null  object
 4   posting_recency        21626 non-null  object
 5   employment_type        21626 non-null  object
 6   work_arrangement_type  21626 non-null  object
 7   experience_lvl         21626 non-null  object
 8   skill                  21626 non-null  object
 9   min_years_of_exp       21626 non-null  float64
dtypes: float64(1), object(9)
memory usage: 1.7+ MB

In [4]:
df['search_query'].value_counts()

search_query
Data Engineer     13933
AI Engineer        3292
Data Analyst       2902
BI Analyst          723
Data Scientist      402
ML Engineer         374
Name: count, dtype: int64

In [5]:
df['employment_type'].value_counts()

employment_type
Full Time              20098
Freelance / Project     1297
Internship                97
Part Time                 94
Shift Based               20
Event                     20
Name: count, dtype: int64

In [6]:
df['work_arrangement_type'].value_counts()

work_arrangement_type
On-site    18075
Remote      2669
Hybrid       882
Name: count, dtype: int64

In [7]:
df['experience_lvl'].value_counts()

experience_lvl
Experienced          12846
Entry Level           5592
Manager               1898
Senior Management      647
Not specified          517
Student                126
Name: count, dtype: int64

In [8]:
df['min_years_of_exp'].value_counts()

min_years_of_exp
3.0     9699
1.0     5432
5.0     1890
2.0     1640
10.0     789
0.0      626
4.0      528
8.0      325
7.0      324
6.0      195
15.0      94
12.0      51
20.0      10
18.0      10
13.0       8
9.0        5
Name: count, dtype: int64